<a href="https://github.com/JotraN/shows-to-watch-android/raw/master/showstowatch.apk">
  <%= image_tag "download_header.png", class: "center-block", height: "500px", style: "border: 3px dotted grey" %>
</a>
<h1 class="text-center">Shows To Watch is now on Android!</h1>
<p class="text-center">
  You can now access this application natively on your Android device.<br>
  Simply click <a href="https://github.com/JotraN/shows-to-watch-android/raw/master/showstowatch.apk">here</a> 
  to download the apk and install that to your device.<br>
</p>
<p class="text-center">
  More information can be found 
  <a href="https://github.com/JotraN/shows-to-watch-android/">here</a>.
</p>
