<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!!! An admin as granted you admin access!</h1>
    <p>Hello, <%= @user.email %>,</p>
    <p>
      An admin has granted you admin access!<br>
      Please use your new abilities wisely!
    </p>
  </body>
</html>
