<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user has requested admin access!</h1>
    <p><%= @user.email %> has requested admin access!</p>
  </body>
</html>
