/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-height: 40px;

.container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.navbar-nav > li > a, .navbar-brand {
  font-size: 12px;
  height: $navbar-height;
  padding-top: 11px !important; 
  padding-bottom: 0 !important;
}

.navbar {
  min-height: $navbar-height !important;
}
