@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  background: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: white;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.show-box {
  position: relative;
  display: block;
  margin: 0 0 10px 0;
}

.show-box-caption {
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  display: block;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.show-box-caption:hover {
  opacity: 1;
}

.show-name {
  bottom: 0;
  position: absolute;
  margin: 0 3px;
}

.show-name h1 {
 font-size: 50px;
}

.show-footer {
  bottom: 0;
  display: block;
  position: absolute;
  margin: 0 3px;
  font-size: 10px;
}

