/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-background: #222;
$navbar-border: #090909;
$navbar-height: 40px;
$chrome-dark-gray: #323232;
$chrome-gray: #d6d6d6;

body {
  background: $chrome-dark-gray;
  color: $chrome-gray;
}

.container {
  padding-top: 70px;
  padding-bottom: 50px;
}

.navbar-nav > li > a, .navbar-brand {
  font-size: 12px;
  height: $navbar-height;
  padding-top: 11px !important; 
  padding-bottom: 0 !important;
}

.navbar {
  min-height: $navbar-height !important;
}

/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  width: inherit;
}

.field_with_errors {
  @extend .has-error;
  background-color: inherit;
  display: inherit;
  padding: inherit;
}

.btn {
  margin-bottom: 15px;
}

.footer {
  background: $navbar-background;
  border-top: 1px solid $navbar-border;
  width: 100%;
}

.footer .container {
  padding: 5px;
  width: auto;
}

.footer a {
  color: gray;
}

select {
  background: $chrome-dark-gray;
}
