$padding: 5px;

.panel a {
  background: none;
}

.panel .panel-heading {
  padding: $padding;
}

.panel .panel-footer {
  font-size: 10px;
  padding: $padding;
}

.panel .panel-body {
  padding: 0;
}
