<% shows.sort_by { |show| show.updated_at }.reverse.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.each_with_index do |show, index| %>
      <div class="col-xs-4 col-md-2 <%= 'col-md-offset-3' if index == 0 %>">
        <%= render "show_item", show: show if show%>
      </div>
    <% end %>
  </div>
<% end %>
