<h1>Editing <%= @show.name %> Info</h1>

<%= render 'form', show: @show %>
<%= link_to 'Cancel', shows_path, class: "btn btn-warning" %>
<%= link_to 'Delete Show', @show, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
