<h1>Select TVDB Show</h1>
<%= form_for @show, url: update_tvdb_show_path(@show) do |f| %>
  <div class="form-group">
    <%= f.select :tvdb_id, @possible_shows.collect { |s| [ s["seriesName"], s.to_json ] }, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Set TVDB Show", class: "btn btn-primary" %>
  </div>
<% end %>
